*{
  margin: 0;
  padding: 0;
}


:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-Shrikhand:'Shrikhand', cursive;
  --color-primaire:#9356DC;
  --color-secondaire:#FF79DA;
  --color-tertiaire:#99E2D0;
  
}

body{
  background-color:#fff;
  font-family: var(--font-roboto);

}

/* header */
header{
display: flex;
margin-top: 3%;

}

    .arrow-left{
      font-size: 25px;
      padding-left: 3%;
      color: black;
      
    }

    #logo{
      height: 30px;
      margin: auto;
    }

/*photo .......... */
#img-restau{
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
  margin-top: 3%;
} 

/* main ...............................................*/    
main{
  background-color: rgb(238, 237, 229);
  border-radius: 30px 30px 0 0;
  width: 100%;
  margin-top: -20%;
  margin-left: 0%;


}  
/* heart et nom de menu */
#menus__title{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7% 0;
}  

  h1{
    font-family: var(--font-Shrikhand);
    font-size: 30px;
    padding-left: 7%;
  }  

  /* heart||||||||||||||||||||||||||||||||||||||||||||| */
    .far{
      position:absolute;
      z-index: 1;
      font-size: 27px;
      
     
      
    }  

    .fa{
      position: relative;
      z-index: 2;
      font-size: 27px;
      opacity: 0;
      cursor: pointer;
      
    }  

       
        .fa:hover {
          animation: heart 1s ease-in-out 1s forwards;
          
        }

        @keyframes heart {
          0%{
            transform: scale(1);
            color: #fa5bed;
            opacity: 1;

          }  

          25%{
            transform: scale(1.1);
            color: #ec82de;
          }  

          50%{
            transform: scale(1.2);
            color: #9b0d73;
          }  

          75%{
            transform: scale(1.3);
            color: rgb(231, 154, 208);
          }  

          100%{
            transform: scale(1.1);
            color: var(--color-secondaire);
            opacity: 1;
          }  

          
        }  

  

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */


/* trois-block */
  .menus__title
  {
   

    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid var(--color-tertiaire) ;
    width: 40px;
    padding-bottom: 2%;
    margin-left: 5%;
  }
   
  .cards{
 
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(223, 220, 220);
    height: 80px; 
    margin: 4%;
    padding: 0;
    width: 90%;
    display: flex;
    overflow: hidden;


  }

     .menus__text{
      width: 75%;
      line-height: 180%;
      padding: 10px;
      overflow: auto;
      white-space:nowrap;
      text-overflow: ellipsis;
     }

        .menus__name{
          
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
          font-size: 20px;
          font-weight:900;
        }

        .menus__petit__text{
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 18px;
          text-align: left;

        }
    

  /* price */
  .price{
   

      margin-left: auto;
      padding: 10px;
      padding-right: 5%;
      display: flex;
      align-items: flex-end;
      font-weight: bolder  ;
      

  }

    /*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||  */
    .check
    {
      background-color: var(--color-tertiaire);
      width: 70px;
      margin-right: -70px;
      border-radius: 0 15px 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .5s;
}
        .fa-check
        {
          background-color: white;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          font-size: 15px;
          position: relative;
         
          color: var(--color-tertiaire);
        }

            .fa-check:before 
            {
              position: absolute;
              top: 5px;
              right: 5px;
              
            }



        .cards:hover .check
        {
          margin-right: 0;
        }
        .cards:hover .fa-check
         {
          animation: check 1s;
        }
        

    @keyframes check {
      0% {
        transform: rotate(-270deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }

/* |||||||||||||||||||||||||||||||||||||||||||||||| */

/* 3-block|||||||||||||||||||||||||||||||||||||  */
.entree
{
  text-align: center;
  animation: entree 3s ease-in-out 500ms forwards;
  opacity: 0;
}
    @keyframes entree {
      0%{
        opacity: 0;
      }

      100%{
        opacity: 1;
      }
      
    }

.plats
{
  text-align: center;
  animation: plats 3s ease-in-out 1000ms forwards;
  opacity: 0;
}

    @keyframes plats {
      0%{
        opacity: 0;
      }

      100%{
        opacity: 1;
      }
      
    }

.desserts
{
  text-align: center;
  animation: desserts 3s ease-in-out 1500ms forwards;
  opacity: 0;
}

    @keyframes desserts {
      0%{
        opacity: 0;
      }

      100%{
        opacity: 1;
      }
      
    }

/* ||||||||||||||||||||||||||||||||||||||||||||||| */


button
{
    background-color: rgb(207, 96, 180);
    border-radius: 30px;
    height: 50px;
    width: 40%;
    font-size: 18px;
    color: white;
    border: none;
    box-shadow: 3px 3px 10px rgb(146, 125, 146), inset  -5px -20px 30px  #9356dc;
    margin: 4% 30% 12% 30%;

}

      button:hover{

        background-color:rgb(226, 126, 201);
        box-shadow: 3px 3px 10px rgb(7, 7, 7), inset  -5px -20px 30px  #9356dc;
        transition: all .7s;
      }

/* footer ------------------------------*/
footer
{
  background-color: rgb(49, 49, 49);
  color: #FFF;
  height: 230px;
  text-align: left;
  padding-left: 5%;

}
#ohmyfood
{
  font-size: 20px;
  font-family:'shrikhand', cursive;
  padding-top: 2%;
  padding-bottom: 2%;
  
}

.quatre-element
{
  line-height: 30px;
}

  .quatre-element a
  {
      color: #FFF;
      text-decoration: none;
  }

  .footer-icon
{
  display: flex;
}

.fa-utensils, .fa-hands-helping
{
  display: flex;
  align-items: center;
  padding-right: 1%;
} 



/* tablette---------------------------------------------------------------------------------- */
/* tablette---------------------------------------------------------------------------------- */

@media all and  (min-width: 768px) {

/* header */
#logo {
  width: 250px;
  height: 40px;
}

/* photo............ */
#img-restau {
  height: 500px;
}

/* main ...............................................*/    
main{
  background-color: rgb(238, 237, 229);
  border-radius: 30px 30px 0 0;
  width: 100%;
  margin-top: -20%;

}  

/* heart et nom de menu */

#menus__title {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7% 0;
}

/* grand-container-menu */
.trois-block {
  width: 80%;
  margin: auto;
}

/* button */
button {
  width: 30%;
  font-size: 20px;
 
  
}




}

/* ordinateur------------------------------------------------------------------------------- */
/* ordinateur------------------------------------------------------------------------------- */

@media all and (min-width: 1024px) {
  /* photo............ */
  #img-restau {
    width: 100%;
    height: 800px;
  }
  /* main ...............................................*/    
  main{
    background-color: rgb(238, 237, 229);
    border-radius: 30px 30px 0 0;
    width: 100%;
    margin-top: -20%;
    

  }  
  
  /* heart et nom de menu */
  
  #menus__title h1 {
    font-size: 32px;
  }
  
  #menus__title i {
    font-size: 25px;
  }
  
  
  /* grand-container-menu */
  .trois-block {
     
        width: 45%;
        margin-bottom: 15px;
      }
  
  
  /* button */
  button {
    width: 30%;
    font-size: 20px;
    margin: 10% 35% 10% 35%;
    
  }
  
  
  
  
  
  
  }
  














        











